.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../img/ingridp.JPG'); /* Atualize aqui */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
}

.hero p {
  color: #fff;
  font-size: 18px;
  padding-right: 1em;
}

.heroContent {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2em;
  border-radius: 10px;
  position: relative; /* Adicione esta linha */
  z-index: 1; /* Adicione esta linha */
}

.ctaButton {
  margin-top: 1em;
  padding: 0.75em 1.5em;
  background-color: #ffbb33;
  color: #222;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.ctaButton:hover {
  background-color: #ffa500;
}
